
<div class="container-fluid" [hidden]=hide>
<nav class="navbar navbar-inverse bg-primary">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#">Construction Management</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Assset Management <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a routerLink="/assets">List All Asset</a></li>
              <li><a routerLink="/assets/insert">Insert Asset</a></li>
              
            </ul>
          </li>
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin Management <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a routerLink="/admins">List All Admins</a></li>
                <li><a routerLink="/admins/insert">New Admin</a></li>
                
              </ul>
            </li>
          <li>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Department Management <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a routerLink="/departments">List All Departments</a></li>
              <li><a routerLink="/departments/insert">New Department</a></li>
              
            </ul>
          </li>
          <li>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Service Management <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a routerLink="/services">List All Servcies</a></li>
              <li><a routerLink="/services/insert">New Service</a></li>             
            </ul>
          </li>
          <li>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Ordeer Management <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a routerLink="/ordeers">List All Ordeers</a></li>
              <li><a routerLink="/ordeers/insert">New Ordeer</a></li>             
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a (click)="logOut()"><span class="glyphicon glyphicon-log-in"></span> LogOut</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
   <router-outlet></router-outlet>